@charset "UTF-8";
/* $width-desktop-xl: 1440px;
$width-desktop-l: 1200px;
$width-desktop-m: 1080px;
$width-desktop-s: 900px;

$width-tablet: 768px;
$width-tablet-s: 640px;

$width-mobile-l: 480px;
$width-mobile-m: 414px;
$width-mobile-s: 375px;
$width-mobile-xs: 320px;
 */
/* ------- media query ------- */
/* $breakpoints: (
  "mobile-s": $width-mobile-s,
  "mobile-m": $width-mobile-m,
  "mobile-l": $width-mobile-l,
  "tablet": $width-tablet,
  "tablet-s": $width-tablet-s,
  "desktop-s": $width-desktop-s,
  "desktop-m": $width-desktop-m,
  "desktop-l": $width-desktop-l,
  "desktop-xl": $width-desktop-xl,
);

@mixin mq($width) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @media screen and (max-width: $width) {
      @content;
    }
  }
} */
/* font */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* position */
/* border-radius */
/* ------- extends ------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", "PingFangTC-Regular", "sans-serif", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Verdana;
  color: #747474;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-size: 12px;
}

@media (max-width: 575.98px) {
  html,
  body {
    font-size: 14px;
  }
}

.text-title {
  font-weight: 600;
}

a,
button {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

a:hover,
button:hover {
  text-decoration: none;
}

.links {
  color: #16c0aa;
  text-decoration: underline;
}

.links:hover {
  color: #13af9b;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bg-black {
  background-color: #747474;
}

.bg-gray-500 {
  background-color: #e0e0e0;
}

.bg-gray-200 {
  background-color: #f4f4f4;
}

.contenter {
  max-width: 1100px;
}

/* @import "./layout/header";
@import "./layout/footer"; */
.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .navbar .navbar-menu {
    display: none;
  }
}

.navbar .nav-link {
  width: 160px;
  height: 60px;
  border-radius: 50px;
  margin-left: 10px;
  padding: 0;
  text-align: center;
  line-height: 60px;
  color: #747474;
  direction: 0.5s;
  position: relative;
}

.navbar .nav-link:last-of-type {
  background-color: #faf460;
}

.navbar .nav-link:hover {
  background-color: #f0eb5f;
  direction: 0.5s;
  color: #545454;
}

.navbar .nav-link:hover .ic-arrow {
  position: absolute;
  left: 110px;
}

.navbar .nav-link.icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-link .ic-arrow {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 105px;
}

.navbar .nav-link .work-list {
  margin-left: -25px;
}

.navbar-brand {
  cursor: pointer;
  width: 240px;
  height: 60px;
  background: url(../image/logo.png) center center no-repeat;
  background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .navbar-brand {
    background: url(../image/logo@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) {
  .navbar-brand {
    width: 200px;
    height: 50px;
    background: url(../image/logo-s.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 767.98px) and (min-resolution: 192dpi) {
  .navbar-brand {
    background: url(../image/logo-s@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
}

.navbar-collapse .collapse-nav {
  display: none;
}

.navbar-toggler {
  display: none;
  width: 40px;
  height: 40px;
  background: url(../image/hamburger.png) center center no-repeat;
  background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .navbar-toggler {
    background: url(../image/hamburger@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler:hover {
  background: url(../image/hamburger-hover.png) center center no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .navbar-toggler:hover {
    background: url(../image/hamburger-hover@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    height: 60px;
  }
  .navbar .nav-link:last-of-type {
    background-color: #fff;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 0px;
    left: -1000px;
    direction: 0.5s;
  }
  .navbar-collapse.show {
    height: 100vh;
    background-color: #fff;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .navbar-collapse.show .navbar-nav {
    padding: 40px 20px;
  }
  .navbar-collapse.show .nav-link {
    width: 100%;
    margin: 10px auto;
    background-color: #fff;
    font-size: 16px;
  }
  .navbar-collapse.show .nav-link:active {
    background-color: #faf460;
  }
  .navbar-collapse.show .nav-link .ic-arrow {
    display: none;
  }
  .navbar-collapse.show .nav-link .work-list {
    margin-left: 0;
  }
  .navbar-collapse.show .navbar-brand {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: url(../image/logo-darkbg.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 767.98px) and (min-resolution: 192dpi) {
  .navbar-collapse.show .navbar-brand {
    background: url(../image/logo-darkbg@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse.show .btn {
    background-color: #fff;
    margin: auto;
    font-size: 16px;
  }
  .navbar-collapse .collapse-nav {
    height: 60px;
    background-color: #747474;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-collapse .collapse-nav .navbar-toggler {
    width: 40px;
    height: 40px;
    background: url(../image/hamburger-close.png) center center no-repeat;
    background-size: 100%;
  }
}

@media (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 767.98px) and (min-resolution: 192dpi) {
  .navbar-collapse .collapse-nav .navbar-toggler {
    background: url(../image/hamburger-close@2x.png) center center no-repeat;
    background-size: 100%;
  }
}

.portfolio-card {
  padding: 80px 40px;
}

.portfolio-card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.portfolio-card .card {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}

.portfolio-card .card:hover {
  color: #545454;
}

.portfolio-card .card-body {
  min-height: 80px;
}

.portfolio-card .card img {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.portfolio-card .card img:hover {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  opacity: 0.6;
}

.portfolio-card .card .card-hidden {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.portfolio-card .card .card-hidden.border-line {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #f4f4f4;
  border-radius: 8px;
}

.portfolio-card .card .card-hidden .card-img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-card .card-text {
  text-align: center;
}

@media (max-width: 575.98px) {
  .portfolio-card {
    padding: 50px 40px;
  }
  .portfolio-card .card {
    margin-bottom: 30px;
  }
}

.btn {
  width: 160px;
  height: 60px;
  border-radius: 50px;
  color: #747474;
  direction: 0.5s;
  position: relative;
  background-color: #faf460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  direction: 0.5s;
  color: #545454;
  background-color: #f0eb5f;
}

.btn:hover .ic-arrow {
  position: absolute;
  left: 250px;
}

.btn.full-btn {
  width: 100%;
}

.btn .ic-arrow {
  display: block;
  position: absolute;
  top: 50%;
  left: 245px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn .go-back {
  margin-left: -25px;
}

.modal .modal-content {
  border: none;
  border-radius: 16px;
}

.modal .modal-title {
  font-weight: 600;
  padding-bottom: 20px;
  margin: auto;
}

.modal .modal-body {
  padding: 30px;
}

.modal .btn {
  margin: auto;
  height: 50px;
  width: 140px;
}

.modal .personal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 20px;
}

@media (max-width: 575.98px) {
  .modal .personal-information {
    padding: 0 0 20px;
  }
}

header {
  padding-top: 80px;
  margin-bottom: 80px;
}

header .header-img {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  width: 90%;
  margin: auto;
}

.contact-btn {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.contact-btn-s {
  display: none;
}

@media (max-width: 767.98px) {
  header {
    padding-top: 60px;
  }
  header .header-img {
    padding-top: 20px;
  }
  header img {
    width: 160%;
    margin: auto;
  }
  .contact-btn {
    display: none;
  }
  .contact-btn-s {
    display: block;
  }
}

.experience {
  height: 100%;
  background-color: #f4f4f4;
  max-width: 100%;
  position: relative;
  padding: 120px 60px 0px;
  overflow: auto;
}

.experience-title {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
}

.experience-body {
  padding-bottom: 30px;
}

.experience-txt.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .experience-body .title {
  font-weight: 600;
}

.experience .experience-group-one {
  width: 90%;
}

.experience .experience-group-two {
  position: absolute;
  top: 120px;
  left: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

@media (max-width: 991.98px) {
  .experience {
    height: auto;
    padding: 100px 100px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience .experience-group-one {
    width: 100%;
  }
  .experience .experience-group-two {
    position: relative;
    max-width: 375px;
    top: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .experience {
    padding: 100px 80px 0px;
  }
}

@media (max-width: 575.98px) {
  .experience {
    padding: 100px 30px 0px;
  }
}

@media (max-width: 375px) {
  .experience {
    padding: 100px 20px 0px;
  }
  .experience .experience-group-two {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experience .experience-group-two {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.portfolio {
  padding-top: 80px;
}

.portfolio-project {
  padding: 40px 40px 0;
}

.portfolio .left {
  padding-left: 0;
  padding-right: 500px;
}

.portfolio .left img {
  width: 100%;
}

.portfolio .right {
  height: calc(100% - 80px);
  width: 480px;
  position: fixed;
  overflow: scroll;
  padding: 30px 30px 120px 30px;
  right: 0;
  top: 80px;
}

.portfolio .right .title-group {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid #e0e0e0;
}

.portfolio .right .title-group .title {
  font-size: 24px;
  font-weight: 600;
}

.portfolio .right .item {
  width: 100%;
  margin-bottom: 20px;
}

.portfolio .right .item .title {
  font-weight: 600;
}

.portfolio .right .item .txt {
  word-break: break-all;
}

.portfolio .right .circle-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .right .circle-group .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 12px;
}

.portfolio hr {
  background-color: #e0e0e0;
  opacity: 1;
  margin: 20px 0;
}

.portfolio .txt-note {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 1199.98px) {
  .portfolio .left {
    padding-right: 370px;
  }
  .portfolio .right {
    height: calc(100% - 80px);
    width: 350px;
    position: fixed;
    overflow: scroll;
    padding: 30px 30px 120px 30px;
  }
}

@media (max-width: 991.98px) {
  .portfolio {
    padding: 60px 30px 0 30px;
  }
  .portfolio .right {
    height: auto;
    width: 100%;
    position: static;
    overflow: visible;
    padding: 30px 30px 80px 30px;
  }
  .portfolio .left {
    padding-right: 0;
  }
}

.portfolio .color-001-1 {
  background-color: #c3c4c3;
}

.portfolio .color-001-2 {
  background-color: #efd330;
}

.portfolio .color-001-3 {
  background-color: #dbf5e6;
}

.portfolio .color-001-4 {
  background-color: #46deb0;
}

.portfolio .color-001-5 {
  background-color: #ef9872;
}

.portfolio .color-001-6 {
  background-color: #343b5e;
}

.portfolio .color-002-1 {
  background-color: #57f3cd;
}

.portfolio .color-002-2 {
  background-color: #5ce0db;
}

.portfolio .color-002-3 {
  background-color: #05365c;
}

.portfolio .color-002-4 {
  background-color: #219892;
}

.portfolio .color-003-1 {
  background-color: #eeeeee;
}

.portfolio .color-003-2 {
  background-color: #8d8d8d;
}

.portfolio .color-003-3 {
  background-color: #3a3a3a;
}

.portfolio .color-003-4 {
  background-color: #ffd9d8;
}

.portfolio .color-003-5 {
  background-color: #e8564d;
}

.portfolio .color-003-6 {
  background-color: #cd0503;
}

.portfolio .color-003-7 {
  background-color: #ffd700;
}

.portfolio .color-004-1 {
  background-color: #e9eaeb;
}

.portfolio .color-004-2 {
  background-color: #bababa;
}

.portfolio .color-004-3 {
  background-color: #3a3a3a;
}

.portfolio .color-004-4 {
  background-color: #ffeae9;
}

.portfolio .color-004-5 {
  background-color: #ff736a;
}

.portfolio .color-004-6 {
  background-color: #d60e18;
}

.portfolio .color-004-7 {
  background-color: #4bb05f;
}

.portfolio .color-005-1 {
  background-color: #eeeeee;
}

.portfolio .color-005-2 {
  background-color: #c8c8c8;
}

.portfolio .color-005-3 {
  background-color: #757575;
}

.portfolio .color-005-4 {
  background-color: #333333;
}

.portfolio .color-005-5 {
  background-color: #ee5d5d;
}

.portfolio .color-005-6 {
  background-color: #c7f0df;
}

.portfolio .color-005-7 {
  background-color: #43cd94;
}

.portfolio .color-005-8 {
  background-color: #a494e1;
}

.portfolio .color-005-9 {
  background-color: #6b52c7;
}

.portfolio .color-005-10 {
  background-color: #361f89;
}

.portfolio .color-006-1 {
  background-color: #bfc3ca;
}

.portfolio .color-006-2 {
  background-color: #4d4d4d;
}

.portfolio .color-006-3 {
  background-color: #3a3a3a;
}

.portfolio .color-006-4 {
  background-color: #cde2f1;
}

.portfolio .color-006-5 {
  background-color: #066eb7;
}

.portfolio .color-006-6 {
  background-color: #184d81;
}

.portfolio .color-006-7 {
  background-color: #6aaa75;
}

.portfolio .color-006-8 {
  background-color: #fffd8e;
}

.portfolio .color-006-9 {
  background-color: #f7846c;
}

.portfolio .color-007-1 {
  background-color: #e5f1f9;
}

.portfolio .color-007-2 {
  background-color: #0076c5;
}

.portfolio .color-007-3 {
  background-color: #004a80;
}

.portfolio .color-007-4 {
  background-color: #ebebeb;
}

.portfolio .color-007-5 {
  background-color: #3a3a3a;
}

.portfolio .color-007-6 {
  background-color: #55c0ce;
}

.portfolio .color-007-7 {
  background-color: #7facf4;
}

.portfolio .color-007-8 {
  background-color: #ffe187;
}

.portfolio .color-008-1 {
  background-color: #bde5cb;
}

.portfolio .color-008-2 {
  background-color: #29b95c;
}

.portfolio .color-008-3 {
  background-color: #ffd700;
}

.portfolio .color-008-4 {
  background-color: #e87c07;
}

.portfolio .color-008-5 {
  background-color: #7bbf43;
}

.portfolio .color-008-6 {
  background-color: #999999;
}

.portfolio .color-008-7 {
  background-color: #666666;
}

.portfolio .color-008-8 {
  background-color: #333333;
}
