// default
.modal {
  &-header {
    border-bottom: none;
  }
  &-content {
    width: 400px;
    min-height: 200px;
    margin: auto;
    border: none;
    border-radius: 16px;
    &.m-size {
      width: 540px;
    }
  }
  &-body {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .ic {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  &-title {
    //word-break: keep-all;
    text-align: center;
  }
  &-footer {
    justify-content: center;
    border-top: none;
    padding-top: 4px;
  }
  .btn {
    width: 160px;
    margin: 8px;
  }

  @include media-breakpoint-down("sm") {
    &-content {
      margin: 16px;
    }
    .btn {
      width: 130px;
    }
  }

  @include media-breakpoint-down("xs") {
    .btn {
      width: 100px;
    }
  }
}

// include form
.modal-form {
  .modal-body {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include media-breakpoint-down("sm") {
    .modal-body {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}
