.experience {
  height: 100%;
  background-color: $gray-200;
  max-width: 100%;
  position: relative;
  padding: 120px 60px 0px;
  overflow: auto;
  &-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
  }
  &-body {
    padding-bottom: 30px;
  }
  &-txt {
    &.group {
      display: flex;
      align-items: center;
    }
  }
  .experience-body {
    .title {
      font-weight: 600;
    }
  }
  .experience-group-one {
    width: 90%;
  }
  .experience-group-two {
    position: absolute;
    top: 120px;
    left: 90%;
    display: flex;
    padding-right: 40px;
  }
}

@include media-breakpoint-down("lg") {
  .experience {
    height: auto;
    padding: 100px 100px 0px;
    display: flex;
    flex-direction: column;
    .experience-group-one {
      width: 100%;
    }
    .experience-group-two {
      position: relative;
      max-width: 375px;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      padding-right: 0px;
      padding-bottom: 40px;
    }
  }
}
@include media-breakpoint-down("md") {
  .experience {
    padding: 100px 80px 0px;
  }
}
@include media-breakpoint-down("sm") {
  .experience {
    padding: 100px 30px 0px;
  }
}
@media (max-width: 375px) {
  .experience {
    padding: 100px 20px 0px;
    .experience-group-two {
      max-width: 100%;
      width: 100%;
    }
  }
}
@include media-breakpoint-up("lg") {
  .experience {
    padding-top: 50px;
    padding-left: 0;
    overflow: hidden;
    .horizontal-scroll {
      width: calc(100vh - 80px);
      height: 100vw;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      transform-origin: right top;
      transform: rotate(-90deg) translate3d(0, -100vh, 0)
        translate3d(0, 80px, 0);
    }

    .horizontal-scroll__index,
    .horizontal-scroll__project {
      width: calc(100vh - 90px);
      height: calc(100vw - 80px);
      position: relative;
    }

    .rotate {
      position: absolute;
      width: calc(100vw - 80px);
      height: calc(100vh - 90px);
      display: flex;
      transform: rotate(90deg) translate3d(0, -100vh, 0) translate3d(0, 90px, 0);
      transform-origin: 0 0;
    }
    .experience-group-one-wrapper,
    .experience-group-two-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .experience-group-one-wrapper {
      padding-left: 60px;
      padding-top: 100px;
      padding-right: 60px;
    }
    .experience-group-two {
      transform: translateY(-50%);
      top: 50%;
      padding-top: 60px;
    }
  }
}
