header {
  padding-top: 80px;
  padding-bottom: 150px;
  //background-color: #fff;
  .header-img {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  img {
    width: 90%;
    margin: auto;
  }
}

.contact-btn {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.contact-btn-s {
  display: none;
}
.portfolio-card {
  &.index {
    padding: 100px 40px 60px 40px;
    color: $gray-200;
    .card {
      &:hover {
        color: $gray-200;
      }
    }
  }
}

@include media-breakpoint-down("md") {
  header {
    padding-top: 60px;
    .header-img {
      padding-top: 20px;
    }
    img {
      width: 160%;
      margin: auto;
    }
  }
  .contact-btn {
    display: none;
  }
  .contact-btn-s {
    display: block;
  }
}
