.portfolio {
  .color-001 {
    &-1 {
      background-color: #c3c4c3;
    }
    &-2 {
      background-color: #efd330;
    }
    &-3 {
      background-color: #dbf5e6;
    }
    &-4 {
      background-color: #46deb0;
    }
    &-5 {
      background-color: #ef9872;
    }
    &-6 {
      background-color: #343b5e;
    }
  }

  .color-002 {
    &-1 {
      background-color: #57f3cd;
    }
    &-2 {
      background-color: #5ce0db;
    }
    &-3 {
      background-color: #05365c;
    }
    &-4 {
      background-color: #219892;
    }
  }

  .color-003 {
    &-1 {
      background-color: #eeeeee;
    }
    &-2 {
      background-color: #8d8d8d;
    }
    &-3 {
      background-color: #3a3a3a;
    }
    &-4 {
      background-color: #ffd9d8;
    }
    &-5 {
      background-color: #e8564d;
    }
    &-6 {
      background-color: #cd0503;
    }
    &-7 {
      background-color: #ffd700;
    }
  }

  .color-004 {
    &-1 {
      background-color: #e9eaeb;
    }
    &-2 {
      background-color: #bababa;
    }
    &-3 {
      background-color: #3a3a3a;
    }
    &-4 {
      background-color: #ffeae9;
    }
    &-5 {
      background-color: #ff736a;
    }
    &-6 {
      background-color: #d60e18;
    }
    &-7 {
      background-color: #4bb05f;
    }
  }

  .color-005 {
    &-1 {
      background-color: #eeeeee;
    }
    &-2 {
      background-color: #c8c8c8;
    }
    &-3 {
      background-color: #757575;
    }
    &-4 {
      background-color: #333333;
    }
    &-5 {
      background-color: #ee5d5d;
    }
    &-6 {
      background-color: #c7f0df;
    }
    &-7 {
      background-color: #43cd94;
    }
    &-8 {
      background-color: #a494e1;
    }
    &-9 {
      background-color: #6b52c7;
    }
    &-10 {
      background-color: #361f89;
    }
  }

  .color-006 {
    &-1 {
      background-color: #bfc3ca;
    }
    &-2 {
      background-color: #4d4d4d;
    }
    &-3 {
      background-color: #3a3a3a;
    }
    &-4 {
      background-color: #cde2f1;
    }
    &-5 {
      background-color: #066eb7;
    }
    &-6 {
      background-color: #184d81;
    }
    &-7 {
      background-color: #6aaa75;
    }
    &-8 {
      background-color: #fffd8e;
    }
    &-9 {
      background-color: #f7846c;
    }
  }

  .color-007 {
    &-1 {
      background-color: #e5f1f9;
    }
    &-2 {
      background-color: #0076c5;
    }
    &-3 {
      background-color: #004a80;
    }
    &-4 {
      background-color: #ebebeb;
    }
    &-5 {
      background-color: #3a3a3a;
    }
    &-6 {
      background-color: #55c0ce;
    }
    &-7 {
      background-color: #7facf4;
    }
    &-8 {
      background-color: #ffe187;
    }
  }

  .color-008 {
    &-1 {
      background-color: #bde5cb;
    }
    &-2 {
      background-color: #29b95c;
    }
    &-3 {
      background-color: #ffd700;
    }
    &-4 {
      background-color: #e87c07;
    }
    &-5 {
      background-color: #7bbf43;
    }
    &-6 {
      background-color: #999999;
    }
    &-7 {
      background-color: #666666;
    }
    &-8 {
      background-color: #333333;
    }
  }
}
