// main color
$yellow-500: #faf460;
$blue-500: #00b0ec;
$green-500: #16c0aa;
$green-600: #13af9b;
$orange-500: #ff9777;
$gray-500: #e0e0e0;
$gray-200: #f4f4f4;
$black: #747474;

// width
/* $width-desktop-xl: 1440px;
$width-desktop-l: 1200px;
$width-desktop-m: 1080px;
$width-desktop-s: 900px;

$width-tablet: 768px;
$width-tablet-s: 640px;

$width-mobile-l: 480px;
$width-mobile-m: 414px;
$width-mobile-s: 375px;
$width-mobile-xs: 320px;
 */
