.success{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto 80px auto;
	min-height: 780px;
}
.success h1{
	max-width: 280px;
	text-align: center;
	margin: 155px auto 63px auto; 
    position: relative;
    color: #5aaa23;
    font-size: 2.5em;
}
.success h1::after{
	position: absolute;
    content: '';
    height: 5px;
    width: 80px;
    background: #5aaa23;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	top: 55px;
	left: 100px;
}
.successList h4{
	font-size: 1.3em;
	padding: 20px 0px 10px 0px;
}
.successList p{
	line-height: 1.3;
}
.successList{
	margin: 20px 20px;
	padding: 40px 30px;
	border: 1px solid #646464;
	border-radius: 10px;
}
.successList img{
	width: 100%;
}
/********************************************/
/********************************************/
@media (max-width: 1024px){
	.successGroup{
		padding: 0 30px;
	}



}
/********************************************/
/********************************************/
@media (max-width: 991px){
	.successList:last-of-type{
		border: none;
	}
}
@media (max-width: 400px){
	.successList{
	padding: 60px 20px;
}
}