.portfolio {
  padding: 80px 30px 0 0;
  &-project {
    padding: 40px 40px 0;
  }
  .left {
    padding-left: 0;
    img {
      width: 100%;
    }
  }
  .right {
    padding: 30px;
    .title-group {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 4px solid $gray-500;
      .title {
        font-size: 24px;
        font-weight: 600;
      }
    }
    .item {
      //display: flex;
      //flex-wrap: wrap;
      width: 100%;
      margin-bottom: 20px;
      .title {
        font-weight: 600;
        //width: 120px;
        //margin-right: 16px;
      }
      .txt {
        word-break: break-all;
      }
    }
    .circle-group {
      display: flex;
      flex-wrap: wrap;
      .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 12px;
      }
    }
  }
  hr {
    background-color: $gray-500;
    opacity: 1;
    margin: 20px 0;
  }
  .txt-note {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
  }
}

@include media-breakpoint-down("lg") {
  .portfolio {
    padding-left: 20px;
    padding-right: 20px;
  }
  .left {
    padding-right: 0;
  }
}
