<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="On" />
  </system.web>
  <appSettings>
    <!-- Download file name setting -->
    <add key="DLFILENAMEWINDOWS34" value="gudab-windows-v3.4.b5.zip"/>
    <add key="DLFILENAMEWINDOWS36" value="gudab-windows-v3.6.b5.zip"/>
    <add key="DLFILENAMELINUX34" value="gudab-linux-v3.4.b5.tgz"/>
    <add key="DLFILENAMELINUX36" value="gudab-linux-v3.6.b5.tgz"/>
    <!--SMTP設定-->
    <add key="SMTPSERVER" value="smtp.gmail.com" />
    <add key="SMTPPORT" value="587" />
    <add key="SMTPACCOUNT" value="service@gudab.com" />
    <add key="SMTPPASSWORD" value="FSLUfGrRITEZQPJ^NlGclFKsnmqyNQ==" />
    <add key="SENDEREMAIL" value="service@gudab.com"/>
    <add key="SENDERNAME" value="Gudab Team"/>
    <!--下載檔案後通知人員MAIL設定,多筆以「;」區隔-->
    <!-- <add key="CONSTANTNOTIFICATIONMAIL" value="yochi.yao@jetfusion.com.tw"/>
     -->
    <add key="CONSTANTNOTIFICATIONMAIL" value="lynn.lin@thinkpower-info.com;dolly.kuo@thinkpower-info.com;cynthia.tsao@thinkpower-info.com;service@gudab.com"/>
    <!--<add key="CONSTANTNOTIFICATIONMAIL" value="wenpin.liao@thinkpower.com.tw"/>-->
    <!--<add key="CONSTANTNOTIFICATIONMAIL" value="ben@thinkpower.com.tw;diego.shen@gudab.com;wenpin.liao@thinkpower.com.tw"/>-->
  </appSettings>
</configuration>
