.modal {
  .modal-content {
    border: none;
    border-radius: 16px;
  }
  .modal-title {
    font-weight: 600;
    padding-bottom: 20px;
    //text-align: center;
    margin: auto;
  }
  .modal-body {
    padding: 30px;
  }
  .btn {
    margin: auto;
    height: 50px;
    width: 140px;
  }
  .personal-information {
    display: flex;
    justify-content: center;
    padding: 0 30px 20px;
  }
}
@include media-breakpoint-down("sm") {
  .modal {
    .personal-information {
      padding: 0 0 20px;
    }
  }
}
